.mcs-userSettings_container {
  padding: 40px;
  .mcs-foldableCardHierachy_container {
    margin-top: 15px;
  }
  .mcs-userSettings_userSelect {
    width: 150px;
    margin-right: 20px;
  }
  .mcs-userSettings_addAUser {
    float: right;
  }
  .mcs-userSettings_iconFilter {
    float: right;
    margin-top: 12px;
  }
  .mcs-userSettings_switch {
    margin-left: 10px;
    &.ant-switch.ant-switch-checked {
      border-color: @info-color;
      background-color: @info-color;
    }
  }
}
.mcs-userEdit_drawer {
  .ant-drawer-header {
    background-color: @info-color;
    border-radius: 0;
    padding-left: 40px;
    .ant-drawer-title {
      color: #ffffff;
      font-size: 12px;
    }
    .ant-drawer-close {
      color: #ffffff;
    }
  }
  .ant-drawer-body {
    background-color: #f0f3f5;
    padding: 40px !important;
  }
  .mcs-saveButton {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 80px;
  }
  .mcs-userForm_select {
    width: 100%;
  }
}
