.mcs-actionbar-wrapper {
  box-shadow: 2px 4px 4px 0 rgba(200, 200, 200, 0.5);
  border-top: solid 1px @border-color-split;
  border-bottom: solid 1px @border-color-split;
  background-color: white;
  z-index: 1000;
}

.mcs-actionbar,
.mcs-actionbar-secondary { 
  width: 100%;
  height: 60px;
  padding: 0px 40px;
}

.mcs-actionbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mcs-actionbar-secondary {
  border-top: solid 1px @border-color-split;
  margin-top: -1px;
}

.mcs-actionbar-breadcrumb {
  font-size: 16px;
  font-weight: 500;
}

.mcs-actionbar-button-add  {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 3px;
  background-color: @info-color !important;
  border: none !important;
  border-style: none;
  color: white;
}

.mcs-actionbar-button  {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 3px;
  border: solid 1px @border-color-split;
  background: white;
}

.mcs-actionbar-button-wrapper {
  float: left;
  height: 60px;
  margin: 0px;
  padding: 10px;
  &:first-child {
    padding-left: 0px;
  }
  &:last-child {
    padding-right: 0px;
  }
}

.selectionArrow {
  position:relative;
  width: 40px;
  height: 10px;
  border-bottom: solid 1px #ffffff;
  margin-left: 10px;
}
.hidden {
  visibility: hidden;
}

