.ad-group-placement {

  table {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #d3dbe1;

    td {
        padding-top: .7em;
        padding-bottom: .7em;
    }
  }

  .align-vertically {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .bold {
    font-weight: bold;
  }

  .button-separator {
    margin: 0 .2em;
  }

  .checkbox-with-sign {
    padding-top: -.1em;
    margin-top: 0.1em;
    margin-bottom: .5em;
  }

  .custom-content {
    margin-top: 3em;
  }

  .font-size {
    font-size: .9em;
  }

  .no-row-height {
    background-color: red;
    height: 0;
  }

  .radio {
    height: 2.2em;
  }

  .remove-margin-between-search-and-table {
    margin-top: -0.08em;
  }

  .remove-margin-between-tables {
    margin-top: -3.8em;
  }

  .rowClassName {
    border: 1px solid red;
  }

  .row-name {
    margin-left: 1em;

    .margin-from-icon {
      margin-left: 1em;

    }
  }

  .search-input {
    height: 4em;
    input.ant-input {
      border-radius: 0px;
    }
  }

  .table-without-empty-message {
    .ant-table-placeholder {
      display: none;
    }
  }

  .tables-wrapper {
    margin-top: -1em;
  }

  .theme-color {
    color: @info-color;
  }

  .title-wrapper {
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-top: 1.8em;
    margin-top: 1em;
    margin-bottom: -0.5em;
    // margin-bottom: .4em;
  }

  .title-checkbox-wrapper {
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.6em;
    margin-bottom: -0.8em;
    padding-top: .4em;
  }

  .checkbox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -0.2em;
    margin-bottom: -0.2em;
    padding-top: .4em;
  }
}
