.mcs-campaigns-filter-view {
    padding: 20px 40px;
}

.mcs-campaigns-checkbox {
    height: 40px;
    line-height: 40px;
}

.mcs-campaigns-link {
    color: @info-color;
    font-weight: bold;
}

.mcs-campaigns-status-active {
    color: @success-color;
}

.mcs-campaigns-status-pending {
    color: @primary-color;
}

.mcs-campaigns-status-paused {
    color: @warning-color;
}
