@import 'application.less';

.mcs-card-container {
  .mcs-content-element.container;
  margin-top: 40px;

  hr {
    margin-bottom: 14px;
  }    
}

.mcs-card-header {
  margin-bottom: 14px;
  // border-bottom: 1px solid #e8e8e8;
}

.mcs-card-title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
  color: #003056;
  line-height: 40px;
}

.mcs-card-button {
  float: right;
}


