.checkbox-with-sign {
  align-items: center;
  border: 1px solid #D3DBE1;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  height: 15px;
  width: 15px;
  font-weight: bold;
}

.checkbox-with-sign:hover {
  background-color: @info-color;
  border-color: @info-color;
  color: white;
}
