.edit-email-form {
  display: flex;
  flex: auto;
  overflow: auto;
  flex-direction: column;
}

.close-icon {
  font-size: 2em;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.mcs-edit-email-container {
  padding-top: 20px;

  * {
    min-height: 0;
    min-width: 0;
  }

  .form-section {
    margin-bottom: 20px;
  }

}
