.mcs-reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle at 49% 13%, @info-color , @primary-color);


  .reset-password-container-frame {
    background-color: @layout-body-background;
    max-width: 600px;
    padding: 30px 80px 30px 80px;

    .reset-password-logo {
        display: block;
        padding-bottom:50px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

    .reset-password-form {
      max-width: 500px;
      
      .reset-passwork-msg {
        color: @primary-color;
        margin-bottom: 15px;
      }
      
    }
     
     .back-to-login {
        text-align: center;  
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

    .reset-password-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;

      }

  }

}

