.mcs-form-container {
  padding-top: 20px;

  hr {
    border-bottom: solid 1px #dcdcdc;
    margin: 40px 0;
  }

  .section-header {
    margin-bottom: 40px;
  }

  .section-footer {
    margin-top: 40px;
    .segment-user-reach {
      float: right;
      font-size: 1.3em;
    }
    .reach-number {
      font-weight: bold;
    }
  }

  .title-container {
    .title {
      font-size: 1.3em;
      font-weight: bold;
    }

    .subtitle {
      font-size: 1em;
      color: #7e7e7e;
    }
  }

  .field-label {
    font-weight: bold;
    font-size: .9em;
  }

  .field-tooltip {
    text-align: right;
    font-size: 1.3em;
  }

  .ant-col-3 {
    width: 16%;
  }

  .ant-col-10 {
    width: 52%;
  }

  .summarySection {
    .content {
      padding-left: 1em;
    }

    .section {
      border-bottom: solid 1px #dcdcdc;
      padding-bottom: .7em;
    }

    .sectionPaddingTop {
      padding-top: 1em;
    }

    .inline {
      display: flex;
      flex-direction: row;
    }

    .textPadding {
      padding-left: 1.5em;
    }

    .text {
      margin-right: .4em;
    }

    .blue-text {
      color: @info-color;
    }
  }
}

.optional-section-title, .optional-section-title:active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 9.5em;
  color: @info-color;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 1.8em;
  padding-top: .4em;
}

.hide-section {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}
