.form-title-container {
  margin-bottom: 20px;  

  .title {
    font-size: 1.3em;
    font-weight: bold;
  }

  .subtitle {
    font-size: 1em;
    color: #7e7e7e;
  }

}

.form-tooltip {
  text-align: right;
  font-size: 1.3em;
}