.mcs-form-container {
  padding-top: 20px;

  hr {
    border-bottom: solid 1px #dcdcdc;
    margin: 40px 0;
  }

  .section-header {
    margin-bottom: 40px;
  }

  .section-footer {
    margin-top: 40px;
    .segment-user-reach {
      float: right;
      font-size: 1.3em;
    }
    .reach-number {
      font-weight: bold;
    }
  }

  .title-container {
    .title {
      font-size: 1.3em;
      font-weight: bold;
    }

    .subtitle {
      font-size: 1em;
      color: #7e7e7e;
    }

  }

  .field-tooltip {
    text-align: right;
    font-size: 1.3em;
  }

}