.mcs-header {
  height: 70px;
}

.mcs-header-menu-horizontal {
  border-bottom: none;
  display: inline-block
}

.mcs-header-logo-name {
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:150px;
  display:inline-block;
}

.mcs-header-menu-icons {
  float: right;
}

.mcs-header-cascader-menu {
  margin-left: 25px;
  margin-right: 25px;
}

.ant-cascader-menu {
  height: auto;
}

.mcs-header-cascader-menu,
.mcs-header-logo-name,
.ant-menu-item,
.mcs-header-anticon,
.mcs-header-divider {
  line-height: 70px;
  height: 70px
}

.mcs-header-anticon {
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px; 
}

.mcs-header-divider {
  width: 1px;
  height: 25px;
  background-color: @border-color-base;
  display: inline-block
}
