.mcs-header {
  padding-top: 10px;
}

.mcs-header-menu-horizontal {
  border-bottom: none;
  display: inline-block
}

.mcs-header-menu-icons {
  float: right;
}

.mcs-header-cascader-menu {
  min-height: 30px;
}

.mcs-header-anticon {
  font-size: 30px;
  margin-left: 25px;
  margin-right: 25px; 
}

.mcs-header-divider {
  width: 1px;
  height: 40px;
  background-color: @border-color-base;
  display: inline-block
}