.icon {
  display: inline-block;
}

.icon-sidebar {
  vertical-align: middle;
  margin-right: 13px;
  font-size: 1.7em;
}

button .icon {
  font-size: 0.8em;
  padding-right: 10px;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon > i:first-child {
  display: block;
  line-height: 0;
}