@import 'helpers.less';

.mcs-login-container {
  .mcs-centered-container;
  background-image: radial-gradient(circle at 49% 13%, @info-color , @primary-color);

  .login-frame {
    background-color: @layout-body-background ;
    max-width: 350px;
    padding: 30px 50px 30px 50px;

    .login-form {
      max-width: 300px;

      .login-logo {
        padding-bottom:37px;
        width: 100%;
      }

      .login-form-forgot {
        float: right; 
      }

      .login-form-button {
        width: 100%;
      }
    }
  }
}