.form-range-picker-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;

  .form-range-picker-width {
    width: 50%;
  }

  .form-range-picker-dash-separator {
    fontWeight: bold;
    margin: 15px 15px;
  }
}
