<div ng-controller="core/scenarios/EditOneController" class="mcs-scenario">
  <div class="mcs-default-sidebar">
    <div class="organisation-name-block">
      {{currentOrganisation}}
    </div>
  </div>
  <form class="mcs-default-edit-content mcs-full-page-form">

    <div class="mcs-default-heading">
      <h1 ng-if="isCreationMode">Create Scenario</h1>
      <h1 ng-if="!isCreationMode">Edit Scenario</h1>
    </div>

    <!-- Name -->
    <div mcs-form-group="" label-for="scenario_name" label-text="Scenario Name">
      <input required class="input-lg" ng-model="scenario.name" type="text" id="scenario_name">
    </div>

    <h3>Storyline</h3>
    <mcs-scenario scenario-container="" scenario-id=""></mcs-scenario>
    <br/>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
              Advanced Options
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">

            <!--<div ng-show="workflow.begin_node_id != null">

              <div mcs-form-group="" label-for="campaign_id" label-text="Update started campaign">
                <input required class="input-lg" ng-model="begin_node.campaign_id" type="text" id="campaign_id">
                <button class="mics-btn mics-btn-delete" ng-click="saveBeginNode(begin_node)">Update</button>
              </div>

            </div>-->

          </div>
        </div>
      </div>
    </div>

    <div class="mcs-actions-group">
      <a class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</a>
      <button class="mics-btn mics-btn-finish" ng-click="next()">Save</button>
    </div>

  </form>
</div>
