@import 'application.less';

.ad-group-form {
  .ad-group-ad-section {
    .content {
      .ad-group-card {
        .inline {
          display: flex;
          flex-direction: row;
        }

        .title {
          margin-left: 0.4em;

          span {
            font-weight: bold;
          }
        }

        .footer {
          .formatWrapper {
            align-items: center;
            height: 2.7em;
            margin-left: 1em;

            .dimensions {
              margin-left: 1em;

              font-family: CircularStd;
              font-size: 12px;
              font-weight: 500;
              color: #919191;
            }
          }

          .buttons {
            align-items: center;
            justify-content: space-between;

            .button {
              color: #cecece;
              font-size: 1.7em;
            }

            .button-separator {
              width: 1px;
              height: 2em;
              background-color: #e8e8e8;
            }
          }
        }
      }
    }
  }

  .ad-group-device-section {
    .ant-checkbox-wrapper {
      margin: auto;
    }

    .custom-content {
      margin-top: 3em;
    }

    .device-checkbox {
      margin-left: 5%;
    }
  }

  .ad-group-placement-section {
    .align-vertically {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .ant-checkbox-wrapper {
      margin: auto;
    }

    .bold {
      font-weight: bold;
    }

    .button-separator {
      margin: 0 0.2em;
    }

    .checkbox-options {
      margin-bottom: 0.8em;
    }

    .checkbox-options:last-child {
      margin-bottom: 0;
    }

    .content-wrapper {
      border: 1px solid rgb(224, 225, 225);
      border-radius: 4px;
      overflow: hidden;
    }

    .custom-content {
      margin-top: 3em;

      .tooltip-top-right {
        align-self: flex-start;
        padding-top: 0.7em;
      }
    }

    .header-top-border {
      border-top: 1px solid rgb(224, 225, 225);
    }

    .list {
      max-height: 214px;
      overflow-y: scroll;

      li:first-child {
        border-top: none;
      }
    }

    .list-header {
      background-color: white;
      border-bottom: 1px solid rgb(224, 225, 225);
      height: 4em;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .with-border-top {
        border-top: 1px solid rgb(224, 225, 225);
      }
    }

    .placement-radio-group {
      margin-left: 5%;
    }

    .radio {
      height: 2.2em;
    }

    .row-name {
      margin-left: 1em;

      .margin-from-icon {
        margin-left: 1em;
      }
    }

    .search-input {
      height: 4em;

      input.ant-input {
        border: none;
        border-bottom: 1px solid rgb(224, 225, 225);
        border-radius: 0px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        box-shadow: none;

        &:focus,
        &:visited,
        &:hover {
          border-bottom: 1px solid rgb(224, 225, 225);
        }
      }

      &.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
        border-bottom: 1px solid rgb(224, 225, 225);
      }
    }

    .theme-color {
      color: @info-color;
    }
  }

  .ad-group-summary-section {
    .content {
      padding-left: 1em;
    }

    .section {
      border-bottom: solid 1px #dcdcdc;
      padding-bottom: 0.7em;
      padding-top: 0.7em;
    }

    .inline {
      display: flex;
      flex-direction: row;
    }

    .textPadding {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }

    .info-color {
      color: @info-color;
    }

    .error-color {
      color: @error-color;
    }
  }
}

.notification-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 11.5em;
}
