.dashboard-counter {
  .title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .count-result {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 28px;
    font-weight: bold;
    color: @primary-color;
  }
}

.lookalike-form-extensionFactor {
  font-weight: bold;
  font-size: 1.5em;
}
