.mcs-audienceBuilder_container {
  min-height: auto;
  height: auto;

  .mcs-audienceBuilder_categoryCard {
    .mcs-card-title {
      font-size: 15px;
      line-height: 50px;
    }
    margin: 40px;
    padding: 0px 0px 15px 0px;
    .mcs-card-header {
      padding-left: 15px;
      border-bottom: 1px solid #d3dbe1;
    }
    .mcs-audienceBuilder_closeButton {
      border: none;
      font-size: 20px;
      padding: 0 5px;
      float: right;
      line-height: 50px;
    }
    .ant-select {
      width: 100%;
    }
  }

  .mcs-audienceBuilder_categoryCard-2 {
    margin: 10px 40px 10px 0px;
    padding: 0;

    .mcs-card-title {
      font-size: 15px;
      line-height: 50px;
    }
  
    .mcs-card-header {
      padding-left: 15px;
    }
 
    .mcs-audienceBuilder_closeButton {
      border: none;
      font-size: 14px;
      padding: 0 5px;
      float: right;
    }
 
    .ant-select {
      width: 100%;
    }
  }

  .mcs-audienceBuilder_hiddenForm {
    display: none;
  }

  .mcs-audienceBuilder_queryButtons {
    text-align: center;
  }

  .mcs-audienceBuilder_queryButtons-2 {
    text-align: center;
    border: 1px solid @border-color-split;
    margin: 10px 40px 10px 40px;
    padding: 10px;
  }

  .mcs-audienceBuilder_narrowWithButton,
  .mcs-audienceBuilder_excludeButton,
  .mcs-audienceBuilder_moreButton {
    color: @info-color;
    font-size: 1.2em;
    font-weight: bold;
    background: none;
    border: none;
    box-shadow: none;
  }

  .mcs-audienceBuilder_moreButton-2 {
    color: @info-color;
    font-size: 1.2em;
    font-weight: bold;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0px;
  }

  .mcs-audienceBuilder_liveDashboardContainer {
    height: 100%;
    border-left: 1px solid @border-color-split;
    .mcs-audienceBuilder_sizeButton {
      position: sticky;
      background-color: #fff;
      z-index: 3;
      border-radius: 50%;
      padding: 10px 15px;
      top: 50%;
      margin-left: -20px;
      border: 1px solid @border-color-split;
      transform: rotate(180deg);
      &:hover {
        cursor: pointer;
      }
      .mcs-icon {
        margin-right: 0px;
      }
    }
    .mcs-audienceBuilder_rightChevron {
      transform: rotate(0deg);
    }
    .mcs-audienceBuilder_liveDashboardMask {
      width: 100%;
      height: inherit;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      z-index: 2;
      text-align: center;
      top: 0%;
      button {
        color: #ffffff;
        position: fixed;
        top: 50%;
        width: 10%;
        font-size: 1.2em;
        font-weight: bold;
        margin-left: -5%;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .mcs-audienceBuilder_liveDashboard {
      padding: 0px 40px;
      text-align: center;
      .mcs-audienceBuilder_totalAudience {
        padding: 15px;
        .ant-statistic-title {
          font-size: 15px;
        }
        .ant-statistic-content {
          font-size: 40px;
        }
        .mcs-audienceBuilder_timelineSelector {
          font-weight: bold;
          color: @info-color;
          font-size: 0.9em;

          .error {
            color: @error-color;
            font-size: 0.8em;
          }
          .timeline-selector {
            float: none !important;
          }
        }
      }
    }
  }

  .mcs-audienceBuilder_audienceFeature:not(:first-child) {
    padding-top: 15px;
  }
  .mcs-audienceBuilder_demographicFeature,
  .mcs-audienceBuilder_audienceFeature {
    padding: 20px;
    .mcs-audienceBuilder_audienceFeatureName {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .mcs-audienceBuilder_audienceFeature {
    border-bottom: 1px solid @border-color-split;
    padding-bottom: 15px;
    border-bottom: 1px solid #d3dbe1;
    .mcs-audienceBuilder_audienceFeatureName {
      color: @primary-color;
      line-height: 20px;
    }
    .mcs-audienceBuilder_audienceFeatureDescription {
      margin-bottom: 20px;
    }
    .mcs-audienceBuilder_closeButton {
      font-size: 15px;
    }
    .mcs-audienceBuilder_audienceFeatureInput {
      margin: 10px 0;
    }
  }

  // Audience Feature 2

  .mcs-audienceBuilder_audienceFeature-2:not(:first-child) {
    padding-top: 15px;
  }

  .mcs-audienceBuilder_demographicFeature-2,
  .mcs-audienceBuilder_audienceFeature-2 {
    padding: 20px;

    .mcs-audienceBuilder_audienceFeatureName-2 {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .mcs-audienceBuilder_audienceFeature-2 {
    padding-bottom: 15px;
 
    .mcs-audienceBuilder_audienceFeatureName-2 {
      color: @primary-color;
      line-height: 20px;
    }
 
    .mcs-audienceBuilder_audienceFeatureDescription-2 {
      margin-bottom: 20px;
    }
 
    .mcs-audienceBuilder_closeButton-2 {
      font-size: 15px;
    }
 
    .mcs-audienceBuilder_audienceFeatureInput-2 {
      margin: 10px 0;
    }

    .ant-btn {
      box-shadow: none;
    }
  }

  .mcs-audienceBuilder_categoryCardFooter {
    text-align: center;
    padding: 20px 25px 25px 25px;
  }

  // Timeline


  .mcs-timeline {
    margin-left: 31px;
    margin-top: 31px;

    .mcs-timeline-initial-dot {
      font-size: 20px;
      margin: 0px;
      color: @info-color!important;
    }

    .mcs-timeline-add-dot {
      font-size: 16px;
      margin: 0px;
      color: @info-color!important;
    }

    .mcs-title {
      font-size: 14px;
      color: @primary-color;
      font-weight: 500;
      text-align: left;
      margin-bottom: 20px;
    }

    .ant-timeline-item-head {
      background-color: @layout-content-background!important;
      padding: 0px;

      .mcs-timeline-dot {
        font-size: 22px;
        margin-right: 0px;
        color: @info-color!important;
      }
    }

    .ant-timeline-item-content {

      .timeline-activity-card-buttons {
        text-align: right;
      }
    }
  }
}

//  Audience Features Management

.mcs-audienceFeature-preview {
  .mcs-audienceFeature_card {
    .mcs-audienceFeature_cardContainer {
      padding: 20px;
    }
    .mcs-card-title {
      font-size: 15px;
      line-height: 50px;
    }
    padding: 0px 0px 15px 0px;
    .mcs-card-header {
      padding-left: 15px;
      border-bottom: 1px solid #d3dbe1;
    }

    .ant-select {
      width: 100%;
    }
    .mcs-audienceFeature_name {
      font-size: 12px;
      font-weight: 500;
      color: @primary-color;
      line-height: 20px;
    }
    .mcs-audienceFeature_description {
      margin-bottom: 20px;
    }
    .mcs-audienceBuilder_audienceFeatureInput {
      margin: 10px 0;
    }
  }
}

.mcs-audienceFeature_formColumn {
  padding: 30px;
}

.mcs-datamartName_title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.mcs-audienceBuilder_featureSelector {
  background-color: @layout-body-background;
  .mcs-search-input {
    width: 400px;
  }
  .mcs-audienceBuilder_breadCrumb {
    margin: 15px 0px;
  }
  .mcs-audienceBuilder_folder,
  .mcs-audienceBuilder_featureCard {
    height: 100px;
    border: 1px solid @border-color-split;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    .mcs-icon {
      font-size: 1.4em;
    }
    &:hover {
      cursor: pointer;
      border: 1px solid @primary-color;
      color: @primary-color;
    }
    .mcs-audienceBuilder_folderChildNumber {
      font-weight: initial;
      font-size: 12px;
      margin-top: 5px;
    }
  }
  .selected {
    cursor: pointer;
    border: 1px solid @primary-color;
    color: @primary-color;
  }
  .toggled {
    background-color: @primary-color !important;
    color: white;
    &:hover {
      color: white;
    }
  }
  .mcs-audienceBuilder_featureCardContainer {
    margin-top: 30px;
    .mcs-audienceBuilder_featureCard {
      background-color: @layout-content-background;
      .mcs-icon {
        float: right;
      }
      .mcs-audienceBuilder_featureCardDescritpion {
        font-weight: initial;
        font-size: 12px;
        margin-top: 5px;
      }
    }
  }
}

// Settings

.mcs-audienceFeatureSettings-table {
  .mcs-content-element.container;
  margin-top: 40px;
  .mcs-empty-card {
    padding: 70px 0;
  }
  border-radius: none;
  box-shadow: none;
  background-color: @layout-content-background;
  thead {
    display: none;
  }
  tbody {
    .ant-table-row {
      background-color: @layout-body-background;
    }
  }
  .mcs-audienceFeatureSettings-addFolderButton {
    margin-left: 10px;
  }
  .mcs-audienceFeatureSettings-folderForm {
    width: 400px;
    .mcs-audienceFeatureSettings-folderInput {
      width: 200px;
    }
    button {
      margin: 0px 5px;
    }
  }
  .mcs-audienceFeatureSettings_folderTable {
    background-color: @layout-body-background;
    margin: 20px 0px !important;
    .mcs-audienceFeatureSettings_folder {
      padding: 16px;
      color: @primary-color;
      cursor: pointer;
      border-bottom: 1px solid @border-color-base;
      &:hover {
        background-color: #ebeff2;
      }
      .ant-col-1 {
        .mcs-icon {
          float: right;
        }
      }
    }
  }
}

.mcs-audienceBuilderSettings-records {
  font-size: 40px;
}