.mcs-reactToEventAutomation {
	.mcs-reactToEventAutomation_chooseEventNameContainer {
		display: flex;
		flex-direction: row;
		align-items: center;

		.form-field-wrapper {
			flex: 1;
			margin: 0;
		}
	}
}