.mcs-campaigns-filter-view {
    padding: 20px 40px;
}

.mcs-campaigns-status-active {
    color: @success-color;
}

.mcs-campaigns-status-pending {
    color: @primary-color;
}

.mcs-campaigns-status-paused {
    color: @warning-color;
}
