.mcs-pie-chart-container {
  height: 100%;
}

.mcs-plot-container {
  .mcs-area-plot-svg {
    height: 375px;
    width: 100%;
  }
  .mcs-area-plot-svg.overlap {
    height: 500px;
    width: 100%;
  }
  overflow: visible;
  margin-bottom: 20px;
}

.mcs-plot-container.donut {
  .mcs-area-plot-svg {
    height: 400px;
    width: 100%;
  }
  .mcs-area-plot-svg.overlap {
    height: 500px;
    width: 100%;
  }
  overflow: visible;
  margin-bottom: 20px;
}

@media (max-width: 1400px) {
  .mcs-plot-container-half {
    .mcs-area-plot-svg-half {
      height: 167px;
      width: 100%;
    }
    overflow: visible;
  }
}

@media (min-width: 1401px) {
  .mcs-plot-container-half {
    .mcs-area-plot-svg-half {
      margin-top: 20px;
      height: 167px;
      width: 100%;
    }
    overflow: visible;
  }
}

.mcs-donut-chart-title {
  position: absolute;
  top: 43%;
  width: 100%;
  text-align: center;
  &.no-text {
    top: 52%;
  }

  .value {
    font-weight: bold;
    text-align: center;
    color: #022344;
    font-size: 1.1em;
  }
  .helper {
    text-align: center;
    color: #022344;
  }
}

.mcs-chart-title {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

.mcs-line-chart-primary {
  fill: @primary-color;
  stroke: @primary-color;
  stroke-width: 1.5;
  fill-opacity: 0.6;
}

.mcs-line-chart-info {
  fill: @info-color;
  stroke: @info-color;
  stroke-width: 1.5;
  fill-opacity: 0.6;
}

.mcs-line-chart-success {
  fill: @success-color;
  stroke: @success-color;
  stroke-width: 1.5;
  fill-opacity: 0.6;
}

.mcs-line-chart-highlight {
  fill: @highlight-color;
  stroke: @highlight-color;
  stroke-width: 1.5;
  fill-opacity: 0.6;
}

.mcs-line-chart-warning {
  fill: @warning-color;
  stroke: @warning-color;
  stroke-width: 1.5;
  fill-opacity: 0.6;
}

.mcs-legend-container {
  .mcs-legend-svg {
    min-height: 40px;
    width: 100%;
  }
  overflow: visible;
  .wrapper {
    float: left;
    .mcs-line {
      margin-left: 10px;
      width: 30px;
      height: 4px;
      border-radius: 5px;
      margin-top: 18px;
      float: left;
    }
    .mcs-legend {
      float: right;
      line-height: 40px;
      margin-left: 5px;
    }
  }
}

.mcs-chart-header {
  padding-bottom: 15px;
  .generated {
    margin-right: 10px;
    font-size: 0.8em;
  }
}

.mcs-chart-gridline  {
  stroke-width: 0.5px;
  stroke: #8ca0b3;
  fill: #8ca0b3;
  stroke-dasharray: '10,10';
}

.mcs-legend-font {
  font-family: CircularStd-Book !important;
  font-weight: 200 !important;
  color: #373737 !important;
}

.highcharts-tooltip {
  opacity: 0.9;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  color: #373737;
  padding: 10px 30px;
  z-index: 10000;
  display: block;
  text-align: left;
  white-space: nowrap;
  border-radius: 4px;
  transition: opacity 50ms linear;
  transition-delay: 200ms;
}

.mcs-half-title {
  position: absolute;
  bottom: 0px;
  width: 100%;
  .value {
    font-weight: bold;
    text-align: center;
    color: #022344;
    font-size: 1.1em;
  }
  .helper {
    text-align: center;
    color: #022344;
  }
}
