.content-header {
  margin: 20px 0px;
  width: 100%;
  line-height: 45px;
  .content-title {
    font-size: 28px;
    font-weight: bold;
    color: @primary-color;
    max-width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .content-subtitle {
    float: right;
    max-width: 29%;

    div {
      display: inline-block
    };
  }
}