.mcs-datamartUsersAnalytics_title {
  font-size: 28px;
  font-family: "LLCircularWeb-Medium";
  color: @primary-color;
  margin: 15px 0;
}

.mcs-datamartUsersAnalytics_subTitle{
  font-size: 16px;
}

.mcs-datamartUsersAnalytics_components {
  // I explicity prefer this syntax instead of margin: 15px 0; in order to preserve react grid layout default left margin  
  margin-top: 15px;
  margin-bottom: 15px;
}


.mcs-datamartUsersAnalytics_component_charts {
  padding: 10px;
}

.datamartUsersAnalytics_charts_singleStat {
  .ant-statistic-content {
    color: @primary-color;
  }
}

.mcs-datamartUsersAnalytics_card {
  border-left: 5px solid @primary-color;
  .title {
    font-size: 16px;
    border-bottom: none;
  }
}

.mcs-datamartUsersAnalytics {
  .mcs-metricCounter_title {
    color: @primary-color;
    font-size: 16px;
  }

  .ant-statistic-content-value,
  .ant-statistic-content-value-decimal,
  .ant-statistic-content-suffix {
    color: @heading-color;
    font-size: 48px;
    font-family: "LLCircularWeb-Book";
  }


  .ant-btn {
    color: @primary-color;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }
}

.mcs-datamartUsersAnalytics .ant-btn.segmentFilter {
  width: 230px;
  height: 41px;
  border-radius: 20.5px;
  border: dashed 1px #cecece;
  font-family: "LLCircularWeb-Medium";
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.31px;
  color: #373737;
  padding: 4.25px;

  .anticon {
    font-size: 28px;
    margin-left: 4px;
    color: #cecece;
    font-weight: 500;
    font-family: "LLCircularWeb-Book";
    position: relative;
    top: 2px;
  }

  .placeholder {
    position: relative;
    top: -5px;
    left: -3px;
    margin: 0 10px;
  }
}

.mcs-datamartUsersAnalytics .ant-btn.appliedSegmentName {
  height: 43px;
  border-radius: 20.5px;
  border-style: solid;
  border: 1px;
  font-family: "LLCircularWeb-Medium";
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  padding: 5px;
  margin-right: 8px;
  float: left;

  .name {
    position: relative;
    top: -9px;
    left: 2px;
    margin: 0 10px;
  }
}

.oval {
  border-radius: 100%;
  display: inline-block;
  position: relative;
  top: 1px;
  width: 28px;
  height: 28px;
  border-style: solid;
  border: 5px;
}