.mcs-datamartUsersAnalytics_title {
  font-size: 28px;
  font-family: "LLCircularWeb-Medium";
  color: @primary-color;
  margin: 15px 0;
}

.mcs-datamartUsersAnalytics_subTitle{
  font-size: 16px;
}

.mcs-datamartUsersAnalytics_components {
  // I explicity prefer this syntax instead of margin: 15px 0; in order to preserve react grid layout default left margin  
  margin-top: 15px;
  margin-bottom: 15px;
}


.mcs-datamartUsersAnalytics_component_charts {
  padding: 10px;
}

.datamartUsersAnalytics_charts_singleStat {
  .ant-statistic-content {
    color: @primary-color;
  }
}

.mcs-datamartUsersAnalytics_card {
  .title {
    font-size: 16px;
    border-bottom: none;
  }
}

.mcs-datamartUsersAnalytics_charts_singleStat {
  float: left;

  .mcs-metricCounter_title {
    color: @primary-color;
    font-size: 16px;
  }

  .ant-statistic-content-value,
  .ant-statistic-content-value-decimal,
  .ant-statistic-content-suffix {
    color: @heading-color;
    font-size: 48px;
    font-family: "LLCircularWeb-Book";
  }


}

.mcs-datamartUsersAnalytics_charts_trend {
  .ant-statistic-content-value,
  .ant-statistic-content-value-decimal,
  .ant-statistic-content-suffix,
  .ant-statistic-content-prefix {

    font-size: 24px;
    font-family: "LLCircularWeb-Book";
  }
}

.mcs-datamartUsersAnalytics .ant-btn.segmentFilter {
  width: 230px;
  height: 41px;
  padding: 4.25px;
  border-radius: 20.5px;
  border: dashed 1px @border-color-split;
  font-family: "LLCircularWeb-Medium";
  font-size: 10px;
  letter-spacing: 0.31px;
  color: @secondary-color;

  .anticon {
    position: relative;
    top: 2px;
    margin-left: 4px;
    font-size: 28px;
    color: @border-color-split;
    font-weight: 500;
    font-family: "LLCircularWeb-Book";

  }

  .placeholder {
    position: relative;
    top: -5px;
    left: -3px;
    margin: 0 10px;
  }


}

.mcs-datamartUsersAnalytics .ant-btn.appliedSegmentName {
  margin-right: 8px;
  float: left;
  padding: 5px;
  height: 43px;
  border-radius: 20.5px;
  border-style: solid;
  border: 1px;
  font-family: "LLCircularWeb-Medium";
  font-size: 10px;

  .name {
    position: relative;
    top: -9px;
    left: 2px;
    margin: 0 10px;
  }

  &._is_disable {
    opacity: 0.3;
  }
}

.oval {
  display: inline-block;
  position: relative;
  top: 1px;
  border-radius: 100%;
  border-style: solid;
  border: 5px;
  width: 28px;
  height: 28px;

}

.mcs-datamartUsersAnalytics_segmentFilter {
  float: left;

  &._is_disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  .ant-btn {
    color: @primary-color;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }
}

.mcs-segmentByNameSelector {
  width: 230px;
}