.mcs-datamartUsersAnalytics_component_charts {
  padding: 10px;
}

.datamartUsersAnalytics_charts_singleStat {
  margin-top: 120px;
  text-align: center;

  .ant-statistic-title {
    font-size: 25px;
  }

  .ant-statistic-content {
    font-size: 30px;
    font-weight: bold;
    color: @primary-color;
  }
}