.edit-layout {
  display: flex;
  flex: auto;
  overflow: auto;
  flex-direction: column;

  .close-icon {
    font-size: 2em;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }
}
