.mcs-feeds-status-initial {
  color: @primary-color;
}

.mcs-feeds-status-active {
  color: @success-color;
}

.mcs-feeds-status-paused {
  color: @warning-color;
}

.mcs-feeds-status-published {
  color: @info-color;
}

.mcs-feed-chart {
  display: flex;
  flex-direction: column;

  .mcs-feed-chart_header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .mcs-feed-chart_header_description {
      display: flex;
      flex-direction: column;
      text-align: justify;
      
      :not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .mcs-feed-chart_header_image {
      height: 100px;
      margin-right: 20px;
    }
  }
}