.mcs-feeds-status-initial {
  color: @primary-color;
}

.mcs-feeds-status-active {
  color: @success-color;
}

.mcs-feeds-status-paused {
  color: @warning-color;
}

.mcs-feeds-status-published {
  color: @info-color;
}

.mcs-feed-chart {
  .description {
    text-align: justify;
    div {
      margin-bottom: 10px;
    }
  }
}

.beta-logo {
  float: left;
  height: 100px;
  margin-right: 20px;
}