.feed-card {
  position: relative;
  padding: 20px;
  .top-menu {
    position: absolute;
    right: 20px;
    .mcs-icon {
      margin-right: 0;
    }
  }
  .wrapper {
    .card-header {
      display: inline-block;
      width: 100%;

      .title {
        font-size: 1.2em;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        line-height: 20px;
        padding-right: 20px;

        .feed-name {
          color: @primary-color;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .plugin-name {
          color: @text-color-secondary;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .image-title {
        width: 45px;
        height: 45px;
        margin-right: 7px;
        float: left;
      }
      .image-placeholder {
        margin-right: 7px;
        float: left;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        line-height: 1;
        width: 45px;
        height: 45px;
        border-radius: 2px;
        background: linear-gradient(149deg, #dee4e8, #eceaea);
        background-size: 400% 400%;
        -webkit-animation: loadingAnimation 1s ease infinite;
        -moz-animation: loadingAnimation 1s ease infinite;
        -o-animation: loadingAnimation 1s ease infinite;
        animation: loadingAnimation 1s ease infinite;
      }
    }
    .content {
      padding: 20px 0;
      .content-left {
        display: inline;
      }
      .content-right {
        float: right;
      }
    }
  }
}
