.form-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.46);
  &.dark {
    background-color: rgba(0, 0, 0, 0.46);
  }
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  min-width: 1280px;
  .form-close {
    font-size: 2em;
    top:10px;
    right: 10px;
    position: absolute;
  }
  .form-modal-container {
    width: 850px;
    overflow: auto;
    margin: 0 auto;
    z-index: 10001;
  }
  .submit-button {
    text-align: right;
  }
}

.form-card-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.46);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  min-width: 1280px;
  padding: 30px;
  .form-modal-container {
    width: 850px;
    overflow: auto;
    margin: 0 auto;
    z-index: 10001;
    height: 100%;
    max-height: 100%;
  }
  .submit-button {
    text-align: right;
  }
}


.mcs-react-app {
  .mcs-fullscreen.form-modal-blurred-open {
    filter: url('#blurfilter');
    -webkit-filter: url('#blurfilter');
  }
}