.mcs-funnel {
  margin-top: 15px;
  border-top: 1px solid @border-color-split;
  border-left: 1px solid @border-color-split;
  box-sizing: content-box;
}

.mcs-funnelQueryBuilder_steps {
  margin-top: 15px;
}

.mcs-funnel_canvas {
  background-image: linear-gradient(to bottom, rgba(26, 210, 242, 0.39), rgba(11, 166, 225, 0.15));
}

.mcs-funnel_arrow {
  width: 60px;
  height: 60px;
  display: inline-block;
  transform: rotate(180deg);

  &:before {
    position: absolute;
    content: '';
    border: none;
    height: 60%;
    width: 45%;
    top: 50%;
    left: 28%;
  }

  &:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
    left: 0;
    top: -50%;
    border-width: 30px 30px;
  }
}

.mcs-funnel_arrow--success {
  &:before {
    background-color: #67c79f;
  }

  &:after {
    border-bottom-color: #67c79f;
  }
}

.mcs-funnel_arrow--failed {

  &:before {
    background-color: #f8939b;
  }

  &:after {
    border-bottom-color: #f8939b;
  }
}

.mcs_funnel_arrowStep {
  width: 60px;
  height: 60px;
  display: inline-block;
  transform: rotate(90deg);
  vertical-align: middle;

  &:before {
    position: absolute;
    content: '';
    border: none;
    height: 60%;
    width: 45%;
    top: 50%;
    left: 28%;
    background-color: #678298;
  }

  &:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
    left: 0;
    top: -50%;
    border-width: 30px 30px;
    border-bottom-color: #678298;
  }
}

.mcs-funnel_conversionInfo {
  margin: 0 auto;
  text-align: center;
  margin-top: -45px;
  padding-bottom: 15px;
}

.mcs-funnel_percentageOfSucceeded {
  position: absolute;
  top: 5%;
  left: -31px;

  .mcs-funnel_stepInfo {
    display: inline-block;
    vertical-align: middle;
    width: 46%;
    margin-left: 3%;
  }
}

.mcs-funnel_stepName,
.mcs-funnel_userPoints {
  padding: 15px;
  min-height: 77px;
}

.mcs-funnel_stepName,
.mcs-funnel_chart {
  border-right: 1px solid @border-color-split;
  border-bottom: 1px solid @border-color-split;
}

.mcs-funnel_userPoints {
  border-right: 1px solid @border-color-split;
}


.mcs-funnel_header_title,
.mcs-funnel_stepName_desc,
.mcs-funnel_stepInfo {
  font-size: 12px;
  font-family: "LLCircularWeb-Book";
  color: @primary-color;
}

.mcs-funnel_userPoints_title {
  margin-bottom: 8px;
  font-size: 10px;
  font-family: "LLCircularWeb-Book";
  color: @primary-color;
}

.mcs-funnel_userPoints_nbr {
  font-size: 14px;
  font-family: "LLCircularWeb-Medium";
  font-weight: 500;
  color: @primary-color;
}

.mcs-funnel_stepName_title {
  margin-bottom: 10px;
  font-size: 12px;
  font-family: "LLCircularWeb-Book";
  font-weight: bold;
  letter-spacing: normal;
  color: @primary-color;
}

.mcs-funnel_chart {
  position: relative;
}

.mcs-funnel_header_title {
  display: inline;
}

.mcs-funnel_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  border-bottom: 1px solid @border-color-split;
  border-right: 1px solid @border-color-split;
}

.mcs-funnel_steps {
  display: flex;
  overflow: hidden;
  border-right: 1px solid @border-color-split;
}

.mcs-funnel_empty {
  padding-top: 1px;
  border-right: 1px solid @border-color-split;
  border-bottom: 1px solid @border-color-split;
}

.mcs-funnel_header_datePicker {
  width: 146px;
  height: 33px;
  border-radius: 4px;
  border: solid 1px #e1e1e1;
  background-color: #fff;
  color: @primary-color;
}

.mcs-funnelQueryBuilder_step {
  margin-bottom: 25px;
}

.mcs-funnelQueryBuilder_stepName {
  display: inline-block;
  width: 200px;
  border: none;
  color: rgb(0, 48, 86);
  margin-bottom: 5px;

  &:focus {
    border-color: #104163;
    outline: 0;
    box-shadow: none;
    border-right-width: none;
}
}

.mcs-funnelQueryBuilder_dimensionValue {
  float: none;
  width: 176px;
  background: rgba(225, 225, 225, 0.5);
  border-radius: 7.5px;
  color: rgb(0, 48, 86);
  text-align: center;
  height: 40px;
  border: none;
}

.mcs-funnelQueryBuilder_step_dimensions {
  display: flex;
  margin: 10px 0;
}

.mcs-funnelQueryBuilder_select {
  border: none;
  height: 40px;
  margin-right: 20px;

  .ant-select-selection {
    background: rgba(225, 225, 225, 0.5);
    border-radius: 7.5px;
    border: none;
  }

  .ant-select-selection-selected-value,
  .ant-select-selection__placeholder,
  .ant-input::placeholder {
    float: none;
    color: rgb(0, 48, 86);
    text-align: center;
  }

  &.mcs-funnelQueryBuilder_select--booleanOperators {
    display: block;
    width: 55px;
  }

  &.mcs-funnelQueryBuilder_select--dimensions {
    width: 176px;
  }

  &.mcs-funnelQueryBuilder_select--dimensionsFilter {
    width: auto;
    min-width: 130px;
  }
}

.mcs-funnelQueryBuilder_removeStepBtn {
  background: #fff;
  color: rgba(55, 55, 55, 0.46);
  border: 0;
  box-shadow: none;
  font-size: 20px;
  margin-left: 10px;
  padding: 6px 12px;

  &:hover,
  &:focus,
  &:active {
    color: rgba(55, 55, 55, 0.46);
    background: #fff;
    border-color: none;
  }
}

.mcs-funnelQueryBuilder_addDimensionBtn,
.mcs-funnelQueryBuilder_addDimensionBtn:hover,
.mcs-funnelQueryBuilder_addDimensionBtn:active,
.mcs-funnelQueryBuilder_addDimensionBtn:focus {
  background: rgba(225, 225, 225, 0.5);
  border-radius: 7.5px;
  border: none;
  color: rgb(0, 48, 86);
  padding: 11px 12px;
}