.mcs-funnel {
  margin-top: 15px;
  box-sizing: content-box;
  .ant-card-body {
    padding: 0;
  }
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.mcs-funnelQueryBuilder_steps {
  position: relative;
  margin-top: 15px;
  width: 60%;
  min-width: 627px;
  padding: 17px 20px 17px 0;
  border-right: 1px dotted #d3dbe1;
}

.mcs-funnelQueryBuilder_step {
  margin-bottom: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.mcs-funnel_arrow {
  width: 60px;
  height: 60px;
  display: inline-block;
  transform: rotate(180deg);

  &:before {
    position: absolute;
    content: '';
    border: none;
    height: 60%;
    width: 45%;
    top: 50%;
    left: 28%;
  }

  &:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
    left: 0;
    top: -50%;
    border-width: 30px 30px;
  }
}

.mcs-funnel_arrow--success {
  &:before {
    background-color: #67c79f;
  }

  &:after {
    border-bottom-color: #67c79f;
  }
}

.mcs-funnel_arrow--failed {

  &:before {
    background-color: #f8939b;
  }

  &:after {
    border-bottom-color: #f8939b;
  }
}

.mcs_funnel_arrowStep {
  width: 60px;
  height: 60px;
  display: inline-block;
  transform: rotate(90deg);
  vertical-align: middle;

  &:before {
    position: absolute;
    content: '';
    border: none;
    height: 60%;
    width: 45%;
    top: 50%;
    left: 28%;
    background-color: #678298;
  }

  &:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
    left: 0;
    top: -50%;
    border-width: 30px 30px;
    border-bottom-color: #678298;
  }
}

.mcs-funnel_conversionInfo {
  position: relative;
  z-index: 3;
  margin-top: -45px;
  text-align: center;
  padding-bottom: 16px;
}

.mcs-funnel_percentageOfSucceeded {
  position: absolute;
  top: 32%;
  right: -370px;
  z-index: 1;
  width: 400px;

  .mcs-funnel_deltaInfo {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-left: 3%;
  }
}

.mcs-funnel_stepName,
.mcs-funnel_metric {
  padding: 15px;
  min-height: 42px;
}

.mcs-funnel_stepName,
.mcs-funnel_chart {
  border-right: 1px solid @border-color-split;
  border-bottom: 1px solid @border-color-split;
}

.mcs-funnel_metricsBlock {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #D3DBE1;
}

.mcs-funnelQueryBuilder_header_title,
.mcs-funnel_stepName_desc,
.mcs-funnel_deltaInfo,
.mcs-funnel_stepInfo {
  font-size: 12px;
  font-family: "LLCircularWeb-Book";
  color: @primary-color;
}

.mcs-funnel_metric_title {
  margin-bottom: 8px;
  font-size: 10px;
  font-family: "LLCircularWeb-Book";
  color: @primary-color;
}

.mcs-funnel_metric_nbr {
  font-size: 14px;
  font-family: "LLCircularWeb-Medium";
  font-weight: 500;
  color: @primary-color;
}

.mcs-funnel_stepName_title {
  font-size: 12px;
  font-family: "LLCircularWeb-Book";
  font-weight: bold;
  letter-spacing: normal;
  color: @primary-color;
}

.mcs-funnelQueryBuilder_stepName_title {
  font-size: 14px;
  font-family: "LLCircularWeb-Medium";
  font-weight: 500;
  letter-spacing: normal;
  color: @primary-color;
}

.mcs-funnel_chart {
  position: relative;
}

.mcs-funnelQueryBuilder_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mcs-funnel_steps {
  display: flex;
  overflow: hidden;
}

.mcs-funnel_empty {
  padding-top: 1px;
}

.mcs-funnel_header_datePicker {
  width: 146px;
  height: 33px;
  border-radius: 4px;
  border: solid 1px #e1e1e1;
  background-color: #fff;
  color: @primary-color;
}

.mcs-funnelQueryBuilder {
  margin-top: 88px;
  .ant-card-body {
    padding: 15px;
  }
}

.mcs-funnelQueryBuilder_header {
  padding: 5px 24px;
}

.mcs-funnelQueryBuilder_stepHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.mcs-funnelQueryBuilder_step_body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mcs-funnelQueryBuilder_step_content {
  width: 100%;
}

.mcs-funnelQueryBuilder_step_reorderBtn {
  vertical-align: middle;
  margin-right: 30px;
}

.mcs-funnelQueryBuilder_executeQueryBtn {
  margin-left: 15px;
}

.mcs-funnelQueryBuilder_cancelBtn {
  margin-left: 15px;
}

.mcs-funnelQueryBuilder_exportBtn {
  margin-left: 15px;
}

.mcs-funnelQueryBuilder_dimensionValue {
  font-family: "LLCircularWeb-Book";
  font-size: 12px;
  min-width: 159px;
  height: auto;
  width: 100%;
  background: rgba(225, 225, 225, 0.5);
  border-radius: 3px;
  color: rgb(0, 48, 86);
  border: none;
}

#mcs-funnel_expression_select_anchor {
  width: 100%;
}

.mcs-funnelQueryBuilder_step_dimensions {
  display: flex;
  margin-bottom: 10px;
}

.mcs-funnelQueryBuilder_step_dimensionFilter_operator {
  display: flex;
  margin-right: 18px;
  height: 40px;
}

.mcs-funnelQueryBuilder_step_dimensionFilter_operator_text {
  color: @primary-color;
  font-family: "LLCircularWeb-Book";
  font-size: 14px;
  margin: auto;
}

.mcs-funnelQueryBuilder_select {
  border: none;
  height: 40px;
  margin-right: 15px;
  font-family: "LLCircularWeb-Medium";
  font-size: 12px;
  font-weight: 500;
  .ant-select-selector {
    background: #f1f1f1  !important;
    border-radius: 3px  !important;
    border: none !important;
  }

  .ant-select-selection-item,
  .ant-select-selection-placeholder,
  .ant-input::placeholder {
    float: none;
    color: rgb(0, 48, 86);
    text-align: center;
  }

  &.mcs-funnelQueryBuilder_select--booleanOperators {
    display: block;
    margin-bottom: 10px;
    width: 55px;
  }

  &.mcs-funnelQueryBuilder_select--dimensions {
    width: auto;
    min-width: 176px;
    max-width: 352px;
  }

  &.mcs-funnelQueryBuilder_select--dimensionsFilter {
    width: auto;
    min-width: 130px;
  }
}

.mcs-funnelQueryBuilder_removeStepBtn,
.mcs-funnelQueryBuilder_removeFilterBtn {
  border: 0;
  box-shadow: none;
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: rgba(0, 0, 0, 0.43);

  &:hover,
  &:focus,
  &:active {
    color: rgba(0, 0, 0, 0.43);
    background: #fff;
    border-color: none;
  }
}

.mcs-funnelQueryBuilder_removeFilterBtn {
  margin-left: 18px;
}

.mcs-funnelQueryBuilder_addDimensionBtn,
.mcs-funnelQueryBuilder_addDimensionBtn:hover,
.mcs-funnelQueryBuilder_addDimensionBtn:active,
.mcs-funnelQueryBuilder_addDimensionBtn:focus {
  margin-top: 20px;
  margin-bottom: 26px;
  padding: 0;
  border: none;
  color: @info-color;
  background: none;
  font-family: "LLCircularWeb-Medium";
  font-weight: 500;
  font-size: 12px;
  box-shadow: none;
}

.mcs-funnelQueryBuilder_addStepBlock {
  position: relative;
}

.mcs-funnelQueryBuilder_addStepBtn,
.mcs-funnelQueryBuilder_addStepBtn:hover,
.mcs-funnelQueryBuilder_addStepBtn:active,
.mcs-funnelQueryBuilder_addStepBtn:focus {
  font-family: "LLCircularWeb-Medium";
  font-size: 12px;
  font-weight: 500;
  border: none;
  color: @info-color;
  background: none;
  padding: 40px 236px;
  border-radius: 3px;
  border: solid 1px #d3dbe1;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0;
}

.mcs-funnelQueryBuilder_sortBtn {
  display: block;
  width: 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;

  &--up {
    margin-bottom: 10px;
  }
}

.mcs-funnelQueryBuilder_switch {
  position: relative;
  width: 55px;  
  margin-right: 3px;

  &_btn {
    top: 10px;
    width: 55px;
  }
}

.mcs-funnelQueryBuilder_notInfo_notSwitcherIcon {
  position: absolute;
  right: -17px;
  font-size: 10px;
}

.mcs-funnel_splitBy {
  position: absolute;
  top: 120px;
  height: 40px;
}

.mcs-funnel_splitBy_select {
  display: block;
  width: 146px;
}

.mcs-funnelStepHover {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 2;
  padding: 20px 15px;
}

.mcs-funnelStepHover_metrics {
  display: flex;
  justify-content: flex-start;
}

.mcs-funnelQueryBuilder_metric {
 flex: 1;
 min-width: 50px; 

  &:not(last-child) {
    margin-right: 10px
  }
}

.mcs-funnelStepHover_desc {
  margin-bottom: 10px;
  font-size: 12px;
  color:#003056;

  &--secondary {
    margin-top: 15px;
  }
}

.mcs-funnelStepHover_metric {
  font-family: "LLCircularWeb-Medium";
  font-weight: 500;
  font-size: 14px;
  color:#003056;
}

.mcs-funnel_disableStepHover {
  position: absolute;
  right: 23px;
  top: 15px;
  z-index: 5;
  border: none;
  font-size: 16px;
  color: grey;
  padding: 0;
  cursor: hand;
  &:hover {
    color: grey;
  }
}

.mcs-funnel_stepInfo {
  position: absolute;
  padding: 20px 15px;
  font-size: 12px;
}

.mcs-funnel_stepInfo_desc {
  margin-bottom: 15px; 
}

.mcs-funnel_stepInfo_metric {
  font-family: "LLCircularWeb-Medium";
  font-weight: 500;
  font-size: 14px;
  color:#003056;
}

.mcs-funnel_canvas {
  height: 370px;
  margin-top: 126px;
}

.mcs-funnelStepHover_totalsByDimension {
  margin-top: 20px;
}

.mcs-funnelStepHover_totalsByDimension_tags {
  font-family: "LLCircularWeb-Medium";
  font-weight: 500;
}

.mcs-funnel_metric {
  font-family: "LLCircularWeb-Medium";
  font-weight: 500;
  padding: 0;
  font-size: 14px;
}

.mcs-funnelQueryBuilder_step_bullet {
  position: absolute;
  right: -31px;
  bottom: -10px;
  padding: 10px 0;
  background: @layout-content-background;

  &_icon {
    width: 20px;
    height: 20px;
    background-color: @info-color;
    border-radius: 50%;
  }
}

.mcs-funnelQueryBuilder_step_timelineStart {
  position: absolute;
  top: -30px;
  right: -10px;

  .mcs-funnelQueryBuilder_timeline_icon {
    margin-left: 10px;
  }
}

.mcs-funnelQueryBuilder_step_timelineEnd {
  position: absolute;
  top: 20px;
  right: -164px;
  padding: 10px 0 70px;
  min-width: 150px;
  background: @layout-content-background;

  .mcs-funnelQueryBuilder_timeline_icon {
    margin-right: 10px;
  }
}

.mcs-funnelQueryBuilder_timeline_date {
  display: inline-block;
  font-family: "LLCircularWeb-Book";
  font-size: 12px;
}

.mcs-funnelQueryBuilder_timeline_icon {
  display: inline-block;
  font-size: 20px;
  color: @info-color;
  vertical-align: middle;
}

.mcs-funnelQueryBuilder_maximumDaysAfterStep {
  margin-bottom: 20px;

  &_input {
    display: inline-block;
    padding: 5px;
    width: 40px;
    height: 32px;
    border-radius: 3px;
    border: solid 1px #d3dbe1;
    background-color: #fafafa;
    text-align: center;
  }

  &_desc {
    display: inline-block;
    width: 185px;
    height: 15px;
    margin-left: 5px;
    font-family: "LLCircularWeb-Book";
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
  }
}

.mcs-funnelEmptyState {
  padding: 100px 0;
  text-align: center;
  color: #cccccc;
  
  &_icon {
    margin-bottom: 10px;
    font-size: 45px;
  }

  &_desc {
    font-family: "LLCircularWeb-Book";
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &_showMeAnExample {
    font-family: "LLCircularWeb-Medium";
    font-weight: 500;
  }
}

.mcs-funnelTemplateSelector {
  padding-left: 14px;
  font-family: "LLCircularWeb-Book";
  font-size: 12px;
  width: 176px;
  text-align: center;

  .ant-select-arrow {
    font-size: 10px;
    color: #cccccc;
  }
}