.query-builder {
  width: 100%;
  &.full-screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &.overlay {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  &.edition-mode {
    display: flex;
    flex: auto;
    .schema-visualizer {
      height: 100%;
    }
    .diagram {
      height: 100%;
    }
  }

  .diagram.ant-col-18 {
    width: 100%;
    float: left;
  }

  .diagram {
    height: inherit;
    transition: max-width 0.3s ease !important;
  }

  // margin-bottom: 20px;
  height: inherit;
  overflow: hidden;
  cursor: move;
  cursor: -webkit-grab;
  .boolean-node {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    font-weight: bold;
    transition: 0.8s all ease;
    cursor: pointer;
    z-index: 100;
  }

  .boolean-menu {
    position: absolute;
    display: grid;
    .boolean-menu-item {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 3px;
      color: #e6e6e6;
      display: block;
      float: left;
      margin: 0 0 4px 8px;
      padding: 6px 12px 6px 8px;
      text-decoration: none;
      -webkit-transition: -webkit-transform 85ms ease-in;
      transition: -webkit-transform 85ms ease-in;
      transition: transform 85ms ease-in;
      transition: transform 85ms ease-in, -webkit-transform 85ms ease-in;

      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
      }
    }
  }

  .object-button {
    z-index: -99;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 75px;
    height: 50px;
    border-radius: 54px;
    display: inline-block;
    color: #cecece;
    border-width: 2px;
    border-color: #cecece;
    border-style: solid;
    background-color: #ffffff;
    line-height: 50px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    transition: 0.8s all ease;
    transform: translateX(0px);
    cursor: pointer;
    &:hover {
      background-color: #cecece;
      color: #ffffff;
    }
  }

  .field-node,
  .object-node {
    opacity: 1 !important;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: box-shadow 300ms ease-in;
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    }
    &.no-hover:hover {
      box-shadow: none;
    }

    .field {
      width: 100%;
      transition: background-color 0.3s ease;
      .buttons {
        position: absolute;
        top: 5px;
        right: 0;
        opacity: 0;
        transition: opacity 100ms ease-in-out;
      }
      .comparison,
      .objectValue {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 10px;
        .fieldname {
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          font-size: 1.1em;
        }
        .operator {
          font-size: 14px;
          font-weight: normal;
          font-style: italic;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: @text-color;
        }
      }
    }
  }

  .group-button {
    z-index: -99;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 75px;
    height: 50px;
    border-radius: 54px;
    display: inline-block;
    color: #cecece;
    border-width: 2px;
    border-color: #cecece;
    border-style: solid;
    background-color: #ffffff;
    line-height: 50px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    transform: translateX(0px);
    transition: 0.8s all ease;
    cursor: pointer;
    &:hover {
      background-color: #cecece;
      color: #ffffff;
    }
  }

  .object-clicked {
    z-index: 100;
    opacity: 1;
    transform: translateX(70px);
  }

  .group-clicked {
    z-index: 99;
    opacity: 1;
    transform: translateX(163px);
  }

  .plus-button {
    transition: 0.3s ease;
    transform: rotateZ(0deg);
    border-radius: 50%;
    font-size: 1.7em;
    text-align: center;
    border-style: solid;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    .mcs-icon {
      margin-right: 0px !important;
    }
    &:focus {
      outline: none;
    }
  }

  .plus-clicked {
    transform: rotateZ(45deg);
  }

  .plus-node {
    opacity: 1 !important;
  }

  .srd-diagram {
    height: inherit;
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        rgba(255, 255, 255, 0.5) 25%,
        rgba(255, 255, 255, 0.5) 26%,
        transparent 27%,
        transparent 74%,
        rgba(255, 255, 255, 0.5) 75%,
        rgba(255, 255, 255, 0.5) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        rgba(255, 255, 255, 0.5) 25%,
        rgba(255, 255, 255, 0.5) 26%,
        transparent 27%,
        transparent 74%,
        rgba(255, 255, 255, 0.5) 75%,
        rgba(255, 255, 255, 0.5) 76%,
        transparent 77%,
        transparent
      );
    background-size: 100px 100px;
  }

  .srd-port {
    width: 1px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
  }

  .mcs-card {
    .view-name {
      font-size: 0.8em;
    }
    .view-value {
      font-size: 1.1em;
      font-size: 1.1vw;
      font-weight: bold;
      color: @primary-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .button-helpers {
    position: absolute;
    right: 20px;
    z-index: 10000;
    display: block;
    width: 30px;
    cursor: auto;

    &.bottom {
      bottom: 30px;
    }

    &.top {
      top: 30px;
    }

    .helper {
      width: 30px;
      height: 30px;
      background-color: white;
      border: 2px @primary-color solid;
      border-radius: 100%;
      color: @primary-color;
      transition: all 100ms ease-in;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 1.2em;
      &:disabled {
        cursor: not-allowed;
        opacity: 0.2;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        background-color: @primary-color;
        color: white;
      }
      .mcs-icon {
        margin: 0 !important;
      }
    }
  }

  .mcs-fieldNodeFormWrapper_closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    z-index: 10;
    .mcs-icon {
      margin-right: 0px;
    }
  }

  .timeline-selector {
    font-weight: bold;
    color: @info-color;
    font-size: 0.9em;

    .error {
      color: @error-color;
      font-size: 0.8em;
    }
  }
}

.overview-modal {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 1000;
    opacity: 0.6;
  }
  .mcs-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    .keyboard-line {
      margin-bottom: 50px;
      .keyboard-control {
        padding: 10px 20px;
        border: 3px solid white;
        border-radius: 4px;
        color: white;
        font-size: 1.3em;
        font-weight: bold;
        width: 40px;
      }
      .keyboard-about {
        padding: 10px;
        color: white;
        font-size: 1.3em;
        font-weight: bold;
      }
    }
  }
}

.result-view {
  .refresh-overlay {
    position: absolute;
    top: 0;
    left: 8px;
    right: 8px;
    bottom: 0;
    background-color: black;
    border-radius: 2px;
    opacity: 0.6;
    cursor: pointer;

    &.error {
      background-color: @error-color;
    }
  }
  .refresh-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    .mcs-icon  {
      margin: 0 !important;
    }

    &.error {
      color: @error-color;
    }
  }
}

.schema-visualizer {
  overflow-y: auto;
  overflow-x: hidden;
  height: inherit;
  transition: max-width 0.3s ease;
  box-shadow: -2px 0px 4px 0 rgba(200, 200, 200, 0.14);
  background-color: white;

  .ant-tree-list-holder-inner {
    .ant-tree-treenode {
      width: 100%;
      line-height: 30px;
      margin: 0;
      white-space: nowrap;
      outline: 0;
      .ant-tree-node-content-wrapper {
        vertical-align: middle !important;
        line-height: 30px;
        height: 30px;
        .ant-tree-title {
          line-height: 30px;
        }
      }
      .ant-tree-switcher-icon {
        vertical-align: bottom !important;
      }
    }

    .ant-tree-child-tree {
      > .ant-tree-treenode {
        border-top: @border-width-base @border-style-base @border-color-base;
        // &:hover {
        //   background-color: @hover-color;
        // }
      }
    }

    .ant-tree-node-content-wrapper {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .field-node-item {
        transition: 0.3s ease;
        position: relative;
        &:hover {
          background-color: @hover-color;
          .mcs-icon {
            opacity: 1;
          }
          .field-type {
            right: 0px;
            background-color: @hover-color;
          }
        }
        .mcs-icon {
          opacity: 0;
          transition: 0.3s ease;
          vertical-align: middle;
        }
        .field-type {
          transition: 0.3s ease;
          position: absolute;
          top: 0;
          right: -200px;
          font-style: italic;
          font-size: 0.9em;
          padding-left: 5px;
        }
      }
    }
  }
}
.srd-node {
  > div {
    opacity: 1 !important;
  }
}

.mcs-otqlQuery_result {
  position: relative;
  margin-bottom: 40px;
  .mcs-otqlQuery_result_tag {
    position: absolute;
    right: 0;
    margin-right: -1px;
    top: 11px;
  }
  .ant-tabs-content-holder {
    margin-top: -15px;
  }
  .mcs-aggregationRendered_table {
    .ant-table {
      padding: 15px 20px 15px 20px;
    }
  }
  .mcs-otqlChart_icons {
    font-size: 16px;
  }
}

.mcs-otqlInputEditor_card:hover {
  .mcs-otqlInputEditor_clear_button {
    opacity: 1;
  }
}
.mcs-otqlInputEditor_card {
  margin-top: 40px;
  .mcs-card-header {
    margin-top: -10px;
  }
  .mcs-otqlInputEditor_settings_button {
    font-size: 15px;
    position: absolute;
    left: 116px;
  }
  .mcs-otqlInputEditor_clear_button {
    opacity: 0;
    border: 0px;
    transition: 0.3s;
    height: 32px;
    vertical-align: middle;
    padding: 0px 15px 0px 15px;
  }

  .mcs-otqlInputEditor_run_button {
    padding: 0px 15px 0px 15px;
    height: 32px;
    vertical-align: middle;
  }
  .mcs-otqlInputEditor_abort_button {
    padding: 0px 15px 0px 15px;
    height: 32px;
    vertical-align: middle;
  }
}

.mcs-otqlChart_container--inner {
  padding: 20px;
}

.mcs-otqlChart_container {
  background-color: white;
}

.mcs-otqlChart_radar {
  position: absolute;
  top: 12px;
  left: 205px;
}

.mcs-otqlChart_items {
  position: absolute;
  top: 8px;
  left: 275px;
}

.mcs-otqlChart_items_input {
  width: 30px;
  height: 25px;
}
.mcs-otqlQuery_result {
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }
}
