.root-md {
  h1,h2,h3,h4,h5,h6,.paragraph,.list,.image {
    margin: 0.63em 0; 
  }

  ul.list {
    list-style: disc;
    list-style-position: inside;
  }
  ol.list {
    list-style-type: decimal;
    list-style-position: inside;
  }

  hr {
    height: 1px;
    background-color: #D3DBE1;
    margin: 1em 0;
  }

  .ant-table {
    padding: 1em 0; 
    table {
      background-color: transparent;
    }
  }

  .image {
    text-align: center;
    .title {
      font-style: italic;
      font-size: 0.9em;
      padding-top: 7px;
    }
  }
}