@font-face {
  font-family: 'mcsfont';
  src: url('../../fonts/mcsfont.eot');
  src: url('../../fonts/mcsfont.eot?#iefix') format('eot'),
    url('../../fonts/mcsfont.woff2') format('woff2'), url('../../fonts/mcsfont.woff') format('woff'),
    url('../../fonts/mcsfont.ttf') format('truetype'),
    url('../../fonts/mcsfont.svg#mcsfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mcs-adGroups:before,
.mcs-ads:before,
.mcs-automation:before,
.mcs-bell:before,
.mcs-bolt:before,
.mcs-check-rounded-inverted:before,
.mcs-check-rounded:before,
.mcs-check:before,
.mcs-chevron-right:before,
.mcs-chevron:before,
.mcs-close-big:before,
.mcs-close-rounded:before,
.mcs-close:before,
.mcs-code:before,
.mcs-creative:before,
.mcs-data:before,
.mcs-delete:before,
.mcs-display:before,
.mcs-dots:before,
.mcs-download:before,
.mcs-email-inverted:before,
.mcs-email:before,
.mcs-extend:before,
.mcs-filters:before,
.mcs-full-users:before,
.mcs-gears:before,
.mcs-goals-rounded:before,
.mcs-goals:before,
.mcs-image:before,
.mcs-info:before,
.mcs-laptop:before,
.mcs-library:before,
.mcs-magnifier:before,
.mcs-menu-close:before,
.mcs-minus:before,
.mcs-optimization:before,
.mcs-options:before,
.mcs-partitions:before,
.mcs-pause:before,
.mcs-pen:before,
.mcs-phone:before,
.mcs-play:before,
.mcs-plus:before,
.mcs-query:before,
.mcs-question:before,
.mcs-refresh:before,
.mcs-settings:before,
.mcs-smartphone:before,
.mcs-status:before,
.mcs-tablet:before,
.mcs-user-list:before,
.mcs-user-pixel:before,
.mcs-user-query:before,
.mcs-user:before,
.mcs-users:before,
.mcs-video:before,
.mcs-warning:before {
  font-family: 'mcsfont';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.mcs-adGroups:before {
  content: '\EA01';
}
.mcs-ads:before {
  content: '\EA02';
}
.mcs-automation:before {
  content: '\EA03';
}
.mcs-bell:before {
  content: '\EA04';
}
.mcs-bolt:before {
  content: '\EA05';
}
.mcs-check-rounded-inverted:before {
  content: '\EA06';
}
.mcs-check-rounded:before {
  content: '\EA07';
}
.mcs-check:before {
  content: '\EA08';
}
.mcs-chevron-right:before {
  content: '\EA09';
}
.mcs-chevron:before {
  content: '\EA0A';
}
.mcs-close-big:before {
  content: '\EA0B';
}
.mcs-close-rounded:before {
  content: '\EA0C';
}
.mcs-close:before {
  content: '\EA0D';
}
.mcs-code:before {
  content: '\EA0E';
}
.mcs-creative:before {
  content: '\EA0F';
}
.mcs-data:before {
  content: '\EA10';
}
.mcs-delete:before {
  content: '\EA11';
}
.mcs-display:before {
  content: '\EA12';
}
.mcs-dots:before {
  content: '\EA13';
}
.mcs-download:before {
  content: '\EA14';
}
.mcs-email-inverted:before {
  content: '\EA15';
}
.mcs-email:before {
  content: '\EA16';
}
.mcs-extend:before {
  content: '\EA17';
}
.mcs-filters:before {
  content: '\EA18';
}
.mcs-full-users:before {
  content: '\EA19';
}
.mcs-gears:before {
  content: '\EA1A';
}
.mcs-goals-rounded:before {
  content: '\EA1B';
}
.mcs-goals:before {
  content: '\EA1C';
}
.mcs-image:before {
  content: '\EA1D';
}
.mcs-info:before {
  content: '\EA1E';
}
.mcs-laptop:before {
  content: '\EA1F';
}
.mcs-library:before {
  content: '\EA20';
}
.mcs-magnifier:before {
  content: '\EA21';
}
.mcs-menu-close:before {
  content: '\EA22';
}
.mcs-minus:before {
  content: '\EA23';
}
.mcs-optimization:before {
  content: '\EA24';
}
.mcs-options:before {
  content: '\EA25';
}
.mcs-partitions:before {
  content: '\EA26';
}
.mcs-pause:before {
  content: '\EA27';
}
.mcs-pen:before {
  content: '\EA28';
}
.mcs-phone:before {
  content: '\EA29';
}
.mcs-play:before {
  content: '\EA2A';
}
.mcs-plus:before {
  content: '\EA2B';
}
.mcs-query:before {
  content: '\EA2C';
}
.mcs-question:before {
  content: '\EA2D';
}
.mcs-refresh:before {
  content: '\EA2E';
}
.mcs-settings:before {
  content: '\EA2F';
}
.mcs-smartphone:before {
  content: '\EA30';
}
.mcs-status:before {
  content: '\EA31';
}
.mcs-tablet:before {
  content: '\EA32';
}
.mcs-user-list:before {
  content: '\EA33';
}
.mcs-user-pixel:before {
  content: '\EA34';
}
.mcs-user-query:before {
  content: '\EA35';
}
.mcs-user:before {
  content: '\EA36';
}
.mcs-users:before {
  content: '\EA37';
}
.mcs-video:before {
  content: '\EA38';
}
.mcs-warning:before {
  content: '\EA39';
}
