@font-face {
  font-family: "mcsfont";
  src: url('../../fonts/mcsfont.eot');
  src: url('../../fonts/mcsfont.eot?#iefix') format('eot'),
    url('../../fonts/mcsfont.woff2') format('woff2'),
    url('../../fonts/mcsfont.woff') format('woff'),
    url('../../fonts/mcsfont.ttf') format('truetype'),
    url('../../fonts/mcsfont.svg#mcsfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mcs-automation:before,
.mcs-bell:before,
.mcs-bolt:before,
.mcs-check-rounded-inverted:before,
.mcs-check-rounded:before,
.mcs-check:before,
.mcs-chevron-right:before,
.mcs-chevron:before,
.mcs-close-big:before,
.mcs-close-rounded:before,
.mcs-close:before,
.mcs-code:before,
.mcs-creative:before,
.mcs-delete:before,
.mcs-display:before,
.mcs-dots:before,
.mcs-download:before,
.mcs-email-inverted:before,
.mcs-email:before,
.mcs-extend:before,
.mcs-filters:before,
.mcs-full-users:before,
.mcs-gears:before,
.mcs-goals-rounded:before,
.mcs-goals:before,
.mcs-image:before,
.mcs-info:before,
.mcs-laptop:before,
.mcs-library:before,
.mcs-magnifier:before,
.mcs-menu-close:before,
.mcs-minus:before,
.mcs-options:before,
.mcs-partitions:before,
.mcs-pause:before,
.mcs-pen:before,
.mcs-phone:before,
.mcs-play:before,
.mcs-plus:before,
.mcs-query:before,
.mcs-question:before,
.mcs-refresh:before,
.mcs-settings:before,
.mcs-smartphone:before,
.mcs-status:before,
.mcs-tablet:before,
.mcs-user:before,
.mcs-users:before,
.mcs-video:before,
.mcs-warning:before {
  font-family: "mcsfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.mcs-automation:before { content: "\EA01" }
.mcs-bell:before { content: "\EA02" }
.mcs-bolt:before { content: "\EA03" }
.mcs-check-rounded-inverted:before { content: "\EA04" }
.mcs-check-rounded:before { content: "\EA05" }
.mcs-check:before { content: "\EA06" }
.mcs-chevron-right:before { content: "\EA07" }
.mcs-chevron:before { content: "\EA08" }
.mcs-close-big:before { content: "\EA09" }
.mcs-close-rounded:before { content: "\EA0A" }
.mcs-close:before { content: "\EA0B" }
.mcs-code:before { content: "\EA0C" }
.mcs-creative:before { content: "\EA0D" }
.mcs-delete:before { content: "\EA0E" }
.mcs-display:before { content: "\EA0F" }
.mcs-dots:before { content: "\EA10" }
.mcs-download:before { content: "\EA11" }
.mcs-email-inverted:before { content: "\EA12" }
.mcs-email:before { content: "\EA13" }
.mcs-extend:before { content: "\EA14" }
.mcs-filters:before { content: "\EA15" }
.mcs-full-users:before { content: "\EA16" }
.mcs-gears:before { content: "\EA17" }
.mcs-goals-rounded:before { content: "\EA18" }
.mcs-goals:before { content: "\EA19" }
.mcs-image:before { content: "\EA1A" }
.mcs-info:before { content: "\EA1B" }
.mcs-laptop:before { content: "\EA1C" }
.mcs-library:before { content: "\EA1D" }
.mcs-magnifier:before { content: "\EA1E" }
.mcs-menu-close:before { content: "\EA1F" }
.mcs-minus:before { content: "\EA20" }
.mcs-options:before { content: "\EA21" }
.mcs-partitions:before { content: "\EA22" }
.mcs-pause:before { content: "\EA23" }
.mcs-pen:before { content: "\EA24" }
.mcs-phone:before { content: "\EA25" }
.mcs-play:before { content: "\EA26" }
.mcs-plus:before { content: "\EA27" }
.mcs-query:before { content: "\EA28" }
.mcs-question:before { content: "\EA29" }
.mcs-refresh:before { content: "\EA2A" }
.mcs-settings:before { content: "\EA2B" }
.mcs-smartphone:before { content: "\EA2C" }
.mcs-status:before { content: "\EA2D" }
.mcs-tablet:before { content: "\EA2E" }
.mcs-user:before { content: "\EA2F" }
.mcs-users:before { content: "\EA30" }
