#mcs-main-layout {
  .ant-layout-sider {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
      0 1px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;

    .ant-menu-submenu-title {
      .mcs-icon {
        vertical-align: middle;
      }
    }
    .ant-menu-item {
      .mcs-icon {
        vertical-align: middle;
      }
    }

    .ant-menu-item:active,
    .ant-menu-submenu-title:active {
      background: @hover-color;
    }
  }

  .ant-layout-sider-collapsed {
    .nav-text {
      display: none;
    }
    .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
      display: none;
    }
  }

  .ant-menu-inline {
    .ant-menu-sub {
      .ant-menu-item {
        padding-left: 73px !important;
      }
    }
  }

  .ant-layout-sider-trigger {
    background: @border-color-base;
  }

  .ant-menu-inline:not(.ant-menu-sub) {
    border: none;
  }

  .ant-menu {
    .mcs-icon {
      font-size: 26px;
      min-width: 14px;
      margin-right: 16px;
    }
  }

  .ant-menu-submenu-selected {
    .ant-menu-submenu-title {
      border-left: 5px solid @info-color;
      padding-left: 20px !important;
    }
  }

  .mcs-logo-placeholder {
    display: flex;
    min-height: 120px;
    align-items: top;
    .mcs-logo {
      display: flex;
      margin: 10px;
      padding: 20px;
      align-items: center;
      align-content: center;
      img {
        max-height: 50px;
        max-width: 140px;
      }
    }
  }

  .ant-layout-sider-trigger {
    .left {
      background: darken(@background-color-base, 20%);
      -moz-transition: all 0.51s;
      -o-transition: all 0.51s;
      -webkit-transition: all 0.51s;
      transition: all 0.51s;
    }

    .right {
      background: darken(@background-color-base, 30%);
      -moz-transition: all 0.51s;
      -o-transition: all 0.51s;
      -webkit-transition: all 0.51s;
      transition: all 0.51s;
    }

    .all {
      background: darken(@background-color-base, 20%);
      -moz-transition: all 0.51s;
      -o-transition: all 0.51s;
      -webkit-transition: all 0.51s;
      transition: all 0.51s;
      &.primary {
        background: @primary-2;
      }
    }
  }
}

.bm-menu::-webkit-scrollbar {
  display: none;
}

.mcs-org-selector {
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
  .search-input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mcs-no-results {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  .mcs-org-card {
    margin-bottom: 20px;

    .mcs-card-cover {
      width: 100%;
      height: 80px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .mcs-cover-image {
        max-height: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .ant-card-body {
      padding: 12px;
    }

    .mcs-card-body {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      .ant-card-meta-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
.mcs-menuMentionTag {
  margin: 1px 0;
  border-radius: 8px;
  width: 30px;
  font-size: 7px;
  color: white;
  line-height: 7px;
  padding: 0px 2px;
  font-weight: bold;
  text-align: center;
}

.mcs-menuMentionTag--west {
  position: absolute;
  top: 15px;
  left: 21px;
}

.mcs-menuMentionTag--east {
  position: absolute;
  top: 15px;
  left: 38px;
}

.mcs-verticalMenuMentionTag--east {
  position: absolute;
  top: 15px;
  right: 18px;
}

.mcs-verticalMenuMentionTag--west {
  position: absolute;
  top: 15px;
  left: 15px;
}

.ant-menu-item {
  .mcs-sideBar-menuItem_simple {
    .nav-text {
      margin-left: 0px;
    }
  }
}
