.ant-menu:not(.ant-menu-horizontal) {
  .ant-menu-item {
    a:hover {
      color: @info-color;
    }
  }
  .ant-menu-item-selected {
    background-color: #e6fcff;
    a {
      color: @info-color;
    }
  }
}

.ant-menu-inline-collapsed-tooltip {
  .ant-tooltip-inner,
  .ant-tooltip-arrow-content {
    background: #ffffff;
  }
  .mcs-sideBar-menuItem_simple {
    color: @text-color;
  }
}

#mcs-main-layout {
  .ant-layout-sider {
    box-shadow: none;
    z-index: 2;

    .ant-menu-submenu-title {
      .mcs-icon {
        vertical-align: middle;
      }
    }
    .ant-menu-item {
      .mcs-icon {
        vertical-align: middle;
      }
    }

    .ant-menu-item:active,
    .ant-menu-submenu-title:active {
      background: @hover-color;
    }
  }

  .ant-layout-sider-collapsed {
    .nav-text {
      display: none;
    }
    .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
      display: none;
    }
  }

  .ant-menu-inline {
    .ant-menu-sub {
      .ant-menu-item {
        padding-left: 73px !important;
      }
    }
  }

  .ant-menu-sub.ant-menu-inline {
    background: #fff;
  }

  .ant-menu-inline:not(.ant-menu-sub),
  .ant-menu-vertical {
    border: none;
  }

  .ant-menu {
    .mcs-icon {
      font-size: 20px;
      min-width: 14px;
      margin-right: 15px;
    }
  }

  .ant-menu-submenu-selected {
    .ant-menu-submenu-title {
      border-left: none;
      color: @text-color;
    }
  }

  .ant-menu-vertical {
    .ant-menu-submenu-popup {
      .ant-menu-item-selected {
        border-left: 5px solid @info-color;
        background: none;
      }
    }
    .ant-menu-submenu-selected {
      .ant-menu-submenu-title {
        color: @info-color;
      }
    }
  }

  .mcs-logo-placeholder {
    display: flex;
    min-height: 120px;
    align-items: top;
    .mcs-logo {
      display: flex;
      margin: 10px;
      padding: 20px;
      align-items: center;
      align-content: center;
      img {
        max-height: 50px;
        max-width: 140px;
      }
    }
  }
  .ant-layout-sider-trigger {
    background: none;
    color: @text-color;
    .ant-row {
      flex-direction: row-reverse;
      margin: 0 20px;
      border-top: 1px solid @border-color-base;
    }
  }
}

.bm-menu::-webkit-scrollbar {
  display: none;
}

.mcs-org-selector {
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
  .search-input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mcs-no-results {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  .mcs-org-card {
    margin-bottom: 20px;

    .mcs-card-cover {
      width: 100%;
      height: 80px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .mcs-cover-image {
        max-height: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .ant-card-body {
      padding: 12px;
    }

    .mcs-card-body {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      .ant-card-meta-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
.mcs-menuMentionTag {
  margin: 1px 0;
  border-radius: 8px;
  width: 30px;
  font-size: 7px;
  color: white;
  line-height: 7px;
  padding: 0px 2px;
  font-weight: bold;
  text-align: center;
}

.mcs-menuMentionTag--west {
  position: absolute;
  top: 15px;
  left: 21px;
}

.mcs-menuMentionTag--east {
  position: absolute;
  top: 15px;
  left: 38px;
}

.mcs-verticalMenuMentionTag--east {
  position: absolute;
  top: 15px;
  right: 18px;
}

.mcs-verticalMenuMentionTag--west {
  position: absolute;
  top: 15px;
  left: 15px;
}

.ant-menu-item {
  .mcs-sideBar-menuItem_simple {
    .nav-text {
      margin-left: 0px;
    }
  }
}
