@list-switcher-org-id-color: rgba(55, 55, 55, 0.43);

.mcs-organisationListSwitcher_orgId {
  color: @list-switcher-org-id-color;
}

.mcs-organisationListSwitcher_orgId_searchView {
  color: @list-switcher-org-id-color;
  margin-left: 10px;
}

.mcs-organisationListSwitcher_currentOrg {
  margin-left: 10px;
  width: 100%;
  .mcs-organisationListSwitcher_orgName {
    font-weight: bold;
  }
}

.mcs-organisationListSwitcher_popOverMenu {
  .ant-dropdown-menu-sub {
    left: -10px;
    top: -8px;
    max-height: 300px;
    border-radius: 6px;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .ant-dropdown-menu {
    background-clip: unset;
  }
}

.mcs-organisationListSwitcher_searchInput {
  
  padding-bottom: 15px;
  .ant-btn-sm {
    height: 32px !important;
  }
  .ant-input {
    height: 32px;
  }
}

.mcs-organisationListSwitcher_currentOrg_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
}

.mcs-organisationListSwitcher_indent {
  padding-left: 10px;
}

.mcs-organisationListSwitcher_menu {
  left: 10px;
  top: -10px;
}

.mcs-organisationListSwitcher_subtitle {
  padding-bottom: 15px;
  font-family: 'LLCircularWeb-Medium';

  .ant-dropdown-menu-submenu-title {
    padding: 2px 14px;
  }

  .ant-dropdown-menu-item-group-list {
    font-family: 'LLCircularWeb-Book';
    margin: 0;
  }
  .ant-dropdown-menu-item-group-title {
    color: rgba(0, 0, 0, 0.78);
    padding: 4px 14px 4px 14px;
  }

  .ant-dropdown-menu-item > a {
    padding: 2px 13px;
  }
}

.mcs-organisationListSwitcher_orgList {
  left: 10px;
  top: -10px;
  border-radius: 3px;
  a {
    font-style: normal;
    color: rgba(0, 0, 0, 0.65);
  }
}

.mcs-organisationListSwitcher_component {
  cursor: pointer;
  .mcs-organisationListSwitcher_downlogo {
    width: 43px;
    height: 30px;
    .ant-menu-submenu-arrow {
      position: relative;
      top: 50%;
      right: 50%;
      left: 7px;
      bottom: 20px;
      transform: rotate(90deg);
      display: block;
    }
  }
}
