.related-record-table {
  table {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
  }

  .align-left {
    justify-content: flex-end;
  }

  .border-style {
    border-top: 1px solid #d3dbe1;
  }

  .center-vertically {
    align-items: center;
  }

  .data-content {
    justify-content: space-around;
  }

  .display-row {
    display: flex;
    flex-direction: row;
  }

  .editable-section {
    justify-content: flex-end;
  }

  .icon-round-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    margin-left: 0.5em;
    margin-right: 1em;
    width: 40px;
    height: 40px;
  }

  .row-height {
    margin-bottom: -10px;
    margin-top: -10px;
  }

  .switch-title-padding {
    margin-left: 0.8em;
    width: 8em;
  }
}
