.report-previewNoValues {
  p {
    text-align: center;
  }
  margin-top: 3em;
}

.range-picker {
  display: flex;
  flex-direction: row;

  .date-picker {
    width: 46%;
    .ant-calendar-picker {
      width: 100%;
    }
  }

  .date-range-picker-separator {
    width: 8%;
  }
}

.report-previewButton {
  .ant-btn {
    width: 100%;
    margin-top: 3em;
  }
}

.report-AddFilterButton {
  p {
    text-align: center;
  }
  border: dashed;
  border-width: 1px;
  padding-top: 1em;
  padding-bottom: 1em;
  cursor: pointer;
  &:hover {
    background-color: #dcdcdc;
  }
}

.close-icon {
  &:hover {
    cursor: pointer;
  }
}