.schema-editor {
  padding: 20px 40px 0 40px;
  .title-line {
    border-bottom: @border-width-base @border-style-base @border-color-split;
    .title {
      padding: 10px 10px;
      font-weight: bold;
      &:first-child {
        border-right: @border-width-base @border-style-base @border-color-split;
      }
    }
  }
  .content-line {
    .content {
      padding: 10px 10px;
      &:first-child {
        border-right: @border-width-base @border-style-base @border-color-split;
      }
      .list-item {
        .title {
        }
        .date {
          float: right;
          font-size: 0.9em;
          font-style: italic;
        }
      }
    }
  }
}
