.mcs-schemaVizualizer_search_bar {
  margin: 21px 10px 8px 10px;
  height: 40px;
  width: 96%;
  input {
    padding-left: 15px;
    ::placeholder {
      color: #cccccc;
    }
  }
  .mcs-shcemaFieldNode_search {
    color: rgba(0, 0, 0, 0.78);
  }
  .mcs-shcemaFieldNode_fragment {
    color: rgba(0, 0, 0, 0.43);
  }
}
.mcs-FieldNode_dashes {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mcs-FieldNode_dashes_right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: -8px;
  margin-right: 5px;
}
