.mcs-content-channel {
  background-color: @layout-content-background;
}

.mcs-datamart-title {
  padding: 0 40px;
}

.infinite-container {
  overflow: auto;
  margin-top: 50px;
  .infinite-list {
    button {
      flex: auto;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .infinite-list-selected-item {
      border-left: 4px solid @info-color;
      button {
        padding-left: 16px;
      }
    }
    .infinite-list-item {
      button {
        padding-left: 20px;
      }
    }
    .ant-list-item {
      padding: 0px;
      &:hover {
        background-color: @hover-color;
      }
    }
  }
  .infinite-loading-container {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
  }

  .infinite-scroll-searchbar {
    background-color: #fff;
    position: absolute;
    top: 0px;
    .ant-input:hover {
      border-color: rgba(0, 0, 0, 0.2);
    }
    input {
      padding: 12px 20px;
      height: 50px;
      border: none;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 0px;
      box-shadow: none;
    }
  }
}

.service-container-header {
  height: 50px;
  line-height: 50px !important;
  padding-left: 12px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.service-container {
  padding: 40px;
  height: 600px;
  overflow: auto;
  .service-price {
    text-align: right;
    color: #919191;
    margin-bottom: 10px;
  }
  .service-text,
  .ant-input-number {
    margin-bottom: 15px;
    width: 100%;
  }
}
.mcs-settings-card-separator {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}