.stepper {

  li {
    display: flex;
    align-items: center;
    min-height: 60px;
    border-bottom: solid 1px @border-color-split;
    border-left: solid 1px @border-color-split;
    padding-left: 15px;

    a {
      color: @border-color-split;
    }

    a.validated {
      color: @text-color;
      .mcs-icon {
        color: @success-color;
      }
    }

    button.validated {
      color: @text-color;
      .mcs-icon {
        color: @success-color;
      }
    }

    .mcs-icon {
      font-size: 1.4em;
      vertical-align: middle;
      font-weight: bold;
      float: left;
    }

    .step-title {
      font-size: 1.2em;
      font-weight: bold;
      display: block;
      white-space: nowrap;
      height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 140px;
      text-align: left;
    }
  }

  .currentStep {
    background-color: @layout-content-background;
    border-left: 5px solid @info-color;
    color: @info-color;

    a {
      color: @info-color;
    }

    .step-title {
      width: 135px;
    }

  }

}
